<bui-lib-basic-ui></bui-lib-basic-ui>

<bui-text-avatar
  width="150px"
  height="100px"
  borderRadius="0 50px 0 50px"
  text="Rubén García de Longoria"></bui-text-avatar>

<bui-text-avatar
    width="100px"
    height="100px"
    [formatType]="textAvatarType.F_F"
    text="Rubén García de Longoria"></bui-text-avatar>

<bui-text-avatar
    width="100px"
    height="100px"
    text="Rubén"></bui-text-avatar>

<bui-text-avatar
    width="100px"
    height="100px"
    borderRadius="20px"
    text="Rubén García de Longoria"></bui-text-avatar>

<bui-text-avatar
    width="100px"
    height="100px"
    borderRadius="20px"
    viewBox="0 0 1 60"
    text="Rubén García de Longoria"></bui-text-avatar>
